$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	black: $black,

	blue: $blue,
	pink: $pink,

	primary-soft: $primary-soft,
	grey-1: $grey-1,
	grey-2: $grey-2,
	grey-3: $grey-3,
);

$border-radius: 0.8rem;
$box-shadow: 0px 0px 8px 0px rgba(12, 18, 38, 0.06);

@import '~bootstrap/scss/bootstrap.scss';
