$primary: rgba(0, 35, 77, 1);
$secondary: rgba(19, 53, 123, 1);
$success: rgba(0, 128, 9, 1);
$info: #7854e4;
$warning: rgba(255, 174, 0, 1);
$danger: #d62518;
$light: rgba(221, 221, 221, 1);
$dark: rgba(5, 16, 54, 1);
$black: rgba(0, 0, 0, 1);

$blue: rgba(171, 230, 255, 1);
$pink: rgba(255, 224, 224, 1);

$primary-soft: rgba(240, 238, 255, 1);
$grey-1: rgba(170, 170, 170, 1);
$grey-2: rgba(225, 225, 225, 1);
$grey-3: rgba(240, 240, 240, 1);
